{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1>Web Sémantique</h1>
  <form method="post" action="{{ url_for('research') }}">
    <div class="mb-3">
      <label for="value" class="form-label">Valeur recherchée</label>
      <input type="text" class="form-control" id="value" name="data" />
    </div>
    <div class="mb-3">
      <input type="radio" id="radioCompetence" name="choice" value="competence"/>
      <label for="radioCompetence">Compétence</label>
      <input type="radio" id="radioMetier" name="choice" value="metier" />
      <label for="radioMetier">Métier</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

    {% if data %}
    <h3>Voici une liste des mots similaires a votre recherche</h3>
    <ul class="list-group">
    {% for i in mostSim%}
        <li class="list-group-item">{{i}}</li>
    {% endfor %}
    <table class="table">
      <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Libellé</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
    <tbody>
            {% for key in data %}
                <tr>
                    {% for value in data[key] %}
                        {% if value[0] == 0 %}
                            <td> {{ key }}</td>
                            <td>{{ value[1] }} </td>
                            <td>{{ value[0] }}</td>
                            </tr>
                        {% else %}
                            <td rowspan="5"> {{ key }}</td>
                            <td>{{ value[1] }} </td>
                            <td>{{ value[0] }}</td>
                            <tr>
                            <td>{{ value[3] }} </td>
                            <td>{{ value[2] }}</td>
                            </tr>
                            <tr>
                            <td>{{ value[5] }} </td>
                            <td>{{ value[4] }}</td>
                            </tr>
                            <tr>
                            <td>{{ value[7] }} </td>
                            <td>{{ value[6] }}</td>
                            </tr>
                            <tr>
                            <td>{{ value[9] }} </td>
                            <td>{{ value[8] }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% for value in data[key] %}

            </tr>
            {% endfor %}
            {% endfor %}
    </tbody>
    </table>
    <button type="button" class="btn btn-outline-primary" onclick='wordcloud({{ wordcloud }})'> Le nuage de mots </button>

</div>
    <script type="text/javascript" src="/static/scripts/wordcloud.js"></script>

    <div id="containerr" style="width: 100%; height: 500px; margin: 0;padding: 0">
    </div>

{% endif %}
{% endblock %}
